doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/pizza.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(defer src='/javascripts/script.js')
  body
    table(id="pizza_list")
      tr
    hr
    button#delete_all Delete All
